# Node modules
node_modules/

# Environment variables
.env

# Logs
logs
*.log

# Database
*.sqlite
*.db

# Dependency directories
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Cache directories
.cache/
dist/

# IDE/Editor specific
.vscode/
.idea/
.DS_Store
